name: Build frontend React CI/CD

on: [push, pull_request]

jobs:
  devbuild:
    needs: checkout
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x]

    steps:
    - name: Checkout frontend Project
      uses: actions/checkout@v2

    - name: Build Local frontend Dev Docker Image
      run: docker build -f dev.Dockerfile -t frontend:dev .

    - name: DEV Container Image Scan
      uses: azure/container-scan@v0
      with:
        image-name: frontend:dev

    - name: Run Local frontend Dev Docker Image
      run: docker run -d -p 3001:3000 frontend:dev

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Dependencies
      run: npm install
      working-directory: src

    - name: Serve Local Project
      run: npm start </dev/null &>/dev/null &
      working-directory: src

    #- name: Running tests
    #  run: npm test
    #  working-directory: src

    - name: Check the docker image service URL
      uses: jtalk/url-health-check-action@v1.5
      with:
        url: http://localhost:3001
        max-attempts: 3
        retry-delay: 5s

    - name: Check the local service URL
      uses: jtalk/url-health-check-action@v1.5
      with:
        url: http://localhost:3000
        max-attempts: 3
        retry-delay: 5s

    - name: Dump docker logs on failure
      if: failure()
      uses: jwalton/gh-docker-logs@v1

  prodbuild:
    needs: checkout
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x]

    steps:
    - name: Checkout frontend Project
      uses: actions/checkout@v2

    - name: Build Local frontend Prod Docker Image
      run: docker build -f prod.Dockerfile -t frontend:prod .

    - name: PROD Container Image Scan
      uses: azure/container-scan@v0
      with:
        image-name: frontend:prod

    - name: Run Local frontend PROD Docker Image
      run: docker run -d -p 3001:80 frontend:prod

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: |
        npm install
        npm install -g serve
      working-directory: src

    - name: Build PROD Frontend
      run: npm run build
      working-directory: src

    - name: Serve PROD Frontend
      run: serve -s build </dev/null &>/dev/null &
      working-directory: src

    #- name: Running tests
    #  run: npm test
    #  working-directory: src

    - name: Check the PROD docker image service URL
      uses: jtalk/url-health-check-action@v1.5
      with:
        url: http://localhost:3001
        max-attempts: 3
        retry-delay: 5s

    - name: Check the PROD local service URL
      uses: jtalk/url-health-check-action@v1.5
      with:
        url: http://localhost:5000
        max-attempts: 3
        retry-delay: 5s

    - name: Dump docker logs on failure
      if: failure()
      uses: jwalton/gh-docker-logs@v1