name: Publish frontend Prod/Dev Docker image

on:
  push:
    branches:
      - master
  release:
    types: [published]

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest

    env:
      URL_API: 192.168.49.2:30080 #minikube

    steps:
      - name: Checkout frontend Project
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build & Push Prod Image to Docker Hub
        id: docker_build_prod
        uses: docker/build-push-action@v2
        with:
          push: true
          file: prod.Dockerfile
          tags: merteam/frontend:latest,merteam/frontend:prod
          build-args: URL_API=${{ env.URL_API }}
      - name: Build & Push Dev Image to Docker Hub
        id: docker_build_dev
        uses: docker/build-push-action@v2
        with:
          push: true
          file: dev.Dockerfile
          tags: merteam/frontend:dev
          build-args: URL_API=${{ env.URL_API }}
      - name: Update Image Overview
        uses: meeDamian/sync-readme@v1.0.6
        with:
          user: ${{ secrets.DOCKER_USERNAME }}
          pass: ${{ secrets.DOCKER_PASSWORD }}
          slug: merteam/frontend
          description: Frontend microservice based on React
      - name: Prod Image digest
        run: echo ${{ steps.docker_build_prod.outputs.digest }}
      - name: Dev Image digest
        run: echo ${{ steps.docker_build_dev.outputs.digest }}